// * IMPORT
@import "./partials/bootstrap_loader.scss";
@import "./partials/_header";

// * GENERICS
.rotate-180 {
    transform: rotate(180deg);
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-icon {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.table-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

ul {
    list-style: none;
    padding-left: 0;
}

form {
    #image_preview_content {
        img {
            min-width: 300px;
            height: 300px;
            object-fit: cover;
        }

        #button-delete-apartment-image {
            cursor: pointer;
            opacity: 0.3;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
        }
    }
    #image_preview_content:hover #button-delete-apartment-image {
        opacity: 1;
    }
}
