// * IMPORT
@import "./partials/bootstrap_loader.scss";
@import "./partials/_header";

// * GENERICS
.rotate-180 {
    transform: rotate(180deg);
}

a {
    text-decoration: none;
    color: inherit;
}
