// * IMPORT LOADER
@import "./bootstrap_loader.scss";

// * IMPORT LOADER
@import "./_variables.scss";

header {
    nav.navbar.fixed-top {
        ul.navbar-nav {
            li.nav-item.dropdown {
                i.bi-person-circle {
                    vertical-align: middle;
                    line-height: 40px;
                    font-size: 20px;
                }
            }
        }
    }
}

nav.navbar {

    #user {
        color: $primary;
    }
    // border: 1px solid yellow;
    background-color: $custom1;
    .navbar-brand {
        color: $text;
    }

    #burger {
        background-color: $primary;
        border-color: $text;
    }
    .nav-link {
        color: $text;
    }
    
     .nav-link.active {
            color: $primary;
        }

        #dropdown-nav {
            background-color: $custom1;

            a {
                color: $text;

            }
            
        }
        a:hover {
            color: $background-dark!important;
        }
}

    
