// ! EXAMPLE

// # MY VARIABLES

// * MAIN PALETTE
$custom1: #3A4A64;
$custom2: #31B598;
$custom3: #F3F0AC;
$custom4: #F18C46;
$custom5: #E04544;

$background-dark: #2D333E;
$text: #b7b9d7;

// # OVERRIDE BS LINKS
// $link-hover-color: $accent;
// ...

// #  OVERRIDE BS VARIABLES

$primary: goldenrod;
$warning: yellowgreen;
// 
// # OVERRIDE BS NAV
// $navbar-bg: $custom3;

// $link-color: $custom4;

// BORDINO TABELLE
$border-color: $primary;

// # OVERRIDE PAGINATION 

$pagination-bg: $custom1;
$pagination-color: $primary;

// active
$pagination-border-color: $primary;
$pagination-active-bg: $primary;
$pagination-active-color: $background-dark;
$pagination-active-border-color: $custom3;

// hover
$pagination-hover-bg: $warning;
$pagination-hover-border-color: $custom3;
$pagination-hover-color: $custom1;

// actions
$link-color: $primary;
$link-hover-color: $warning;

// disabled
$pagination-disabled-bg: $custom1;
$pagination-disabled-border-color: $primary;

// focus

$pagination-focus-bg: $warning;
$pagination-focus-box-shadow: $primary;

// dropdown

$dropdown-link-hover-bg: $primary!important;
// $dropdown-link-active-bg: $custom5;




