// IMPORT GOOGLE FONT - ROBOTO
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// VARIABILI
$silver-color: #c0c0c0;
$golden-color: #d4af37;
$platinum-color: #737373;

// GENERICS

.my-sponsor-card .silver {
    color: $silver-color;
    box-shadow: 0 0 8px 0 rgba(232, 233, 228, 0.364), 0 0 20px 0 rgba(232, 233, 228, 0.364);
}

.gold {
    color: $golden-color;
    box-shadow: 0 0 8px 0 rgba(255, 242, 0, 0.396), 0 0 20px 0 rgba(255, 242, 0, 0.396);
}

.platinum {
    color: $platinum-color;
    box-shadow: 0 0 8px 0 rgba(241, 241, 238, 0.396), 0 0 20px 0 rgba(241, 241, 238, 0.396);
}
.sponsor-show-card {
    max-height: 500px;
}

.my-sponsor-card {
    display: flex;
    flex-direction: column;
    background-color: $custom1;
    min-height: 40px;
    border-radius: 10px;
    // box-shadow: 0 0 8px 0 rgba(241, 241, 238, 0.396), 0 0 20px 0 rgba(241, 241, 238, 0.396);
    cursor: pointer;
    transition: 1s;
    margin: 1rem 0 1rem 0;

    .my-card-header {
        font-family: 'Roboto', sans-serif;
        background-color: $background-dark;
    }

    .my-card-body {
        padding: 2rem;
        color: #efefef;
    }

    .my-card-footer {
        margin-top: auto;
        
       p {
            color: $warning;
        }
}
}

// Sponsors index

#sponsors_list {
    .row {
        margin-top: 3rem;

        .my-sponsor-card:hover {
            transform: scale(1.1);
        }
    }
}

// Sponsors show

.table.rounded {
    .my-image-container {
        width: 30%;
        margin: 0 auto;
    }
}

.my-apartment-card {
    background-color: $custom1;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    text-align: center;
}

#sponsor-pay {
    th {
        color: $primary;
        background-color: $custom1;
    }

    td {
        color: $text;
        background-color: $custom1;
    }

    
  }

